<!DOCTYPE html>
<html>
<head>
  <title>Poll</title>
  <%= stylesheet_link_tag    "poll/application", :media => "all" %>
  <%= javascript_include_tag "poll/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
